@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Antropos';
  src: url('/fonts/Antropos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-antropos {
  font-family: 'Antropos', sans-serif;
} 